POSTGRES_DB=gamevault
POSTGRES_USER=gamevault
POSTGRES_PASSWORD=gamevault
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/gamevault
DB_USERNAME=gamevault
DB_PASSWORD=gamevault
SERVER_PORT=8080

JWT_SECRET=troque-este-segredo-por-uma-chave-de-no-minimo-32-caracteres
JWT_EXPIRACAO=86400000

CORS_ORIGINS=http://localhost:5173

PGADMIN_EMAIL=admin@gamevault.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
